@page
@model tbkk.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetailCarQueue[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailCarQueue[0].CarQueue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DetailCarQueue) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarQueue.CarQueueID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DetailCarQueueID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DetailCarQueueID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DetailCarQueueID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
