@page
@model tbkk.Pages.listOTs.ManageListModel

@{
    ViewData["Title"] = "ManageList";
}

<h1>ManageList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].TimeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].Type)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].FoodSet)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].OT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailOT[0].Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetailOT)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Part.PartID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodSet.FoodSetID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OT.OTID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.DetailOTID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.DetailOTID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.DetailOTID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
